.containerUserProfile {
    position: relative;
    cursor: pointer;
}

.mailIcon {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    position:absolute;
    right: -3px;
    top: -3px;
}

.mailIcon svg {
    width: 13px;
    opacity: 0.9;
}

.containerEditUserProfile {
    position: absolute;
    z-index: 2;
    top: 0;
}

.userProfile {
    position: relative;
}

.settingsIcon {
    bottom: 0px;
    right: 0;
    border-radius: 50%;
    position: absolute;
    background-color: white;
}
