

.avatar {
    border-radius: var(--border-radius-50);
    border: 1px solid rgba(255, 255, 255, 0.504);
    box-sizing: unset;
    box-shadow: var(--shadow-elevation-modal);
} 

.imageAvatar {
    width: 100%;
    height: 100%;
    object-fit: 'cover';
}