@use '@/app/styles/media-queries.scss' as *;


.overlay {
    top: 0;
    left: 0;
    min-height: 100vh;
    overflow-y: auto;
    position: fixed;
}

.container {
    max-width: 450px;
    background-color: var(--color-bg-primary);
    border-radius: var(--border-radius-10);
    padding: 40px 30px;
    font-family: var(--font-family-poppins-400);
    box-shadow: var(--shadow-elevation-modal);
    @include mobile-768 {
        padding: 50px 15px;
        box-shadow: none;
    }
}

.diskr {
    opacity: 0.5;
}

.singin_link {
    color: var(--light-green-color);
    text-decoration: underline;
}

