@use '@/app/styles/media-queries.scss' as *;

.containerColendar {
    position: relative;
    max-width: 95%;
    @include mobile-768 {
        max-width: 100%;
    }
}


.containerColendarYearMonth {
    max-width: 650px;
    padding: 20px;
    @include tablet-1024 {
        max-width: 100%;
        height: 100%;
    }
    &.year {
        height: auto;
    }
    @include mobile-768 {
        max-width: 95%;
        padding: 20px 0;
    }
}

.holidayDot {
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: orange;
}