
.containerLogo {
    height: 36px;
}

.logoTitle {
    margin-bottom: -5px;
    
}

.logoTitle2 {
    margin-top: -5px;
    
}

.logoIcon {
    margin-right: 3px;
    margin-top: 2px;
    width: 31px;
}
