@use '@/app/styles/media-queries.scss' as *;

.addEventBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 10px;
    width: 45px;
    height: 45px;
    padding: 0;
    @include mobile-768 {
        bottom: 20px;
        right: 20px;
    }
}

.icon {

    fill: white;
    color: #498cff;
}