@use '@/app/styles/media-queries.scss' as *;

.desktopNavbar {
    max-width: 95%;
    padding: 2rem 0;
    @include mobile-768 {
        max-width: 100%;
        padding: 10px 20px;
        background-color: var(--color-bg-primary);
    }
}
