@use '@/app/styles/media-queries.scss' as *;

.containerList {
    max-width: 500px;
    background-color: var(--color-bg-primary);
    height: 628px;
    padding: 20px;
    overflow: hidden;
    &.year {
        height: 740px;
    }
    @include tablet-1024 {
        max-width: 100%;
        padding: 0;
    }
    @include mobile-768 {
        max-width: 100%;
        padding: 0px 10px;
        padding-top: 7px;
        background-color: #f5f7f9;
    }
}


.header {
    min-height: 55px;

    padding-bottom: 10px;
}

.allEventsContainer {
    overflow-x: auto;
    flex-wrap: nowrap;
    min-height: 519px;
    padding-bottom: 60px;
    /* Firefox */
    scrollbar-width: none;
    &.year {
        min-height: 680px;
    }
}

